.imagemCarrossel{
    width: 100%;
    height: 400px;
    object-position: 0 80%;
    object-fit: cover;
        /* Centralizando a imagem no Container */
}

.fonteTitulo{
    font-family: 'Pacifico', cursive;
    color: aliceblue;
}
.corEspecial{
    color: #28E542 !important;
}

.corBotaoEspecial{
    background-color: #7030A0;
}

.bordarCorEspecial {
    border-color: #28E542;
}
.cardPosicaoImagem{
    object-fit: cover;
    height: 200px;

}
.cardTamanho {
    max-width: 18rem;
}
.backgroundCor{
    background-color: #edf3ee;
}
.cor{
    color: #28E542;
}